@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: "Sweet Sans Regular", Helvetica,sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
  /* overflow: hidden; */
  background-color: #fff5e6;
  margin: 0;
}

h1 {
  font-size: 2.3rem;
  margin-top: 4px;
  margin-bottom: 10px;
  color: #696969;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .22em;
  
}

p {
  margin-top: 1px;
  color: #696969;
  font-weight: 400;
  font-size: 1em;
  letter-spacing: .19em;
  
}
.container {
  background-color: #ffd5c6;
  padding: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  /* align-items: stretch; */
  max-height: 84vh;
  width: 95vw;
  border-radius: 4px;
}


.black-case {
  background-color:	#0c1301;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: 89.5vh;
  min-width: 20vw;
}

@media only screen and (max-width: 1098px)  {
  .black-case {
    height: 80vh;
    max-width: 30vw;
    
  }
}

@media only screen and (max-width: 841px)  {
  .black-case {
    height: 70vh;
    max-width: 45%;
    
  }
}

/* @media only screen and (min-width: 541px)  {
  .black-case {
    height: 35vh;
    max-width: 75%;
    margin: 10px;
  }
} */


.case-title {
  margin: 0;
  padding: 0;
}

.case-title h2 {
  /* border: 3px solid red; */
  margin: 0px;
  padding: 20px;
  width: 100%;
  text-align: center;
  height: 8%;
  color: #9c9999;
  font-weight: 300;
  letter-spacing: .19em;
  padding: .51em;
  font-size: 1.4rem;
}

@media only screen and (max-width: 841px)  {
  .case-title h2 {
    font-size: .8rem;
    
  }
}



.box-container {
  background-color:	#0c1301;
  height: 82vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 20px;
}

.box {
  background-color: #ae9d9d;
  flex: 0 0 27%;
  margin: 8px;
  border: none;
  border-radius: 20px;
  max-height: 33%; 
  max-width: 33%;
  cursor: pointer; 
  /* border: 5px solid white; */
}




/* 
.box.active {
  background-color: #fff;
} */

.img-div {
  /* background-image: url('disney-princess_1633596052.png'); */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border: 2px solid black;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 87.2vh;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  -webkit-transition: all 700ms ease-in;
}
