/* No CSS */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Sweet Sans Regular", Helvetica,sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* height: 100vh; */
  /* overflow: hidden; */
  background-color: #fff5e6;
  margin: 0;
}

h1 {
  font-size: 2.3rem;
  margin-top: 4px;
  margin-bottom: 10px;
  color: #696969;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .22em;
}

p {
  margin-top: 1px;
  color: #696969;
  font-weight: 400;
  font-size: 1em;
  letter-spacing: .19em;
}

.container {
  background-color: #ffd5c6;
  padding: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  /* align-items: stretch; */
  max-height: 84vh;
  width: 95vw;
  border-radius: 4px;
}

@media only screen and (max-width: 1160px) {
  .container {
    max-height: 77vh;
    width: 86vw;
  }
}


.black-case {
  background-color: #0c1301;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 89.5vh;
  min-width: 20vw;
}

@media only screen and (max-width: 1160px) {
  .black-case {
    height: 80vh;
    max-width: 30vw;
  }
}

@media only screen and (max-width: 841px) {
  .black-case {
    height: 70vh;
    max-width: 43%;
  }
}

/* @media only screen and (min-width: 541px)  {
  .black-case {
    height: 35vh;
    max-width: 75%;
    margin: 10px;
  }
} */
.case-title {
  margin: 0;
  padding: 0;
}

.case-title h2 {
  /* border: 3px solid red; */
  margin: 0px;
  padding: 20px;
  width: 100%;
  text-align: center;
  height: 8%;
  color: #9c9999;
  font-weight: 300;
  letter-spacing: .19em;
  padding: .51em;
  font-size: 1.4rem;
}

@media only screen and (max-width: 841px) {
  .case-title h2 {
    font-size: .8rem;
  }
}

.box-container {
  background-color: #0c1301;
  height: 82vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 20px;
}

.box {
  background-color: #6d2e2e;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 27%;
          flex: 0 0 27%;
  margin: 8px;
  border: none;
  border-radius: 20px;
  max-height: 33%;
  max-width: 33%;
  cursor: pointer;
  /* border: 5px solid white; */
}
/*# sourceMappingURL=style.css.map */
